template(name='user_edit_style')
    .ui.header
        i.paint.brush.icon
        | styles
    .ui.header nav color
    +text_edit key='theme_color' label='theme color' direct=true
    a.ui.big.button(href='https://www.w3schools.com/cssref/css_colors.asp' target='_window')
        i.external.icon
        |color list
    div
    +user_key_value_edit key='invert_class' value='invert' label='invert on' direct=true
    +user_key_value_edit key='invert_class' value='' label='invert off' direct=true
        